*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.footer-container{
    padding: 10px;
    height: 100%;
    width: 100%;
    overflow-x: none;
    background: rgb(239, 220, 229);
    background: radial-gradient(circle, rgb(245, 208, 226) 0%, rgba(148, 187, 233, 1) 100%);
}
.footer{
    padding: 20px;
    /* padding-left: 10px; */
    padding-right: 100px;
    width: 100%;
    margin: 0px;
    background: rgb(238, 174, 202);
    background: radial-gradient(circle, rgb(227, 192, 219) 0%, rgba(148, 187, 233, 1) 100%);
    border-radius: 30px;
    box-shadow: 3px 3px 30px rgb(103, 50, 113);
    text-align: left;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer-top{
    width: 33%;
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    align-items: center;
}
.company-logo-img{
    width: 2 rem;
    height: 3rem;
}
.socials{
    display: flex;
    flex-direction: row;
    gap: 1.9rem;
}
.social-img{
    width: 30px;
}
.company-logo-link{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.7rem;
    font-weight: bolder;
    gap: 0.5rem;
    text-decoration: none;
}
.company-logo{
    display: flex;
    justify-content: flex-start;
}
.filler-text{
    color: rgba(10, 3, 3, 0.546);
    font-weight: bold;
}
.footer-grid{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 3rem;
    padding-top: 0.5rem;
}
.footer-grid-heading{
    font-size: 1.05rem;
    font-weight: bolder;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-bottom: 1rem;
}
ul{
    list-style-type: none;
}
.footer-link-list{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.footer-link{
    text-decoration: none;
    font-size: 0.9rem;
    
    color: rgba(92, 90, 90, 0.811);
}
.footer-copyright{
    text-align: center;
    color: rgb(82, 80, 80);
    font-weight: bold;
    padding-top: 1rem;
}
@media screen and (max-width:1080px) {
    .footer{
        flex-direction: column;
        align-items: center;
    }
    .footer-top{
        padding-left: 10rem;
    }
    .footer-grid{
        align-self: center;
        padding-left: 80px;
        justify-content: space-evenly;
    }
    
}
@media screen and (max-width:850px) {
    .footer{
        flex-direction: column;
        align-items: center;
    }
    .footer-grid{
        grid-template-columns: repeat(2,1fr);
    }
    .footer-top{
        padding-left: 2rem;
    }
}